:root {
	--font1: 'Newsreader', serif;
	--primary-color: #F6D271;
	--secundary-color: #000;
	--icon-color: #F0D578;
	--primary-background-color: #F2F2F2;
	--secundary-background-color: #F1F5F6;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: var(--font1);
	font-size: 1.6rem;
	line-height: 1.25;
}
a{
	text-decoration: none;
	color: #fff;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 3.8rem;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 2rem;
}
h1, h2, h3{
	font-weight: 400;
}
h3{
	font-weight: 500;
}





#bebida{
	padding: .1rem 0 3rem 0;
	position: relative;
	overflow: hidden;
}
.info bebida__info center-text{
	text-align: center;
}
.bebidas__grog{
	margin-top: 8rem;
	display: grid;
	gap: 5rem;
	line-height: 1;
}
@media (min-width: 640px) {
	.bebidas__grog{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 1024px) {
	.bebidas__grog{
		grid-template-columns: repeat(3, 1fr);
	}
}
.grog{
	max-width: 30rem;
	margin: 0 auto;
	border-radius: 1rem;
	box-shadow: 0 1rem 2rem 0 rgba(191, 191, 191, 0.5);
	overflow: hidden;
}
.grog__info{
	background-color: #fff;
	padding: 1rem 2rem;
}
.grog__info__titulo{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.grog__info__titulo h3{
	margin-bottom: 0;
}
.grog__info p,
.grog__info__titulo span{
	color: rgb(182, 226, 152);
}
 .form input[type="submit"]{
	cursor: pointer;
	color: #fff;
	border: none;
	padding: 1rem 3rem;
	
}
@media (min-width: 768px){
	.form input[type="submit"]{
		display: block;
		width: auto;
		margin: 0 auto;
	}
}
