
:root{
    --font1-color:#084794;
    --primaray-color: #f6d271;
    --secundary-color:#000;
    --icon-color: #f0d578;
    --primary-backgroud:#084794;
    --secundary-background: #032660;
}

body{
    font-family: serif;
    font-size: 1.6rem;
    line-height: 1.25;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: #fff;

}
img{
    max-width: 100%;
}
h1{
    font-size: 3.8rem;

}
h2{
    font-size: 3.6rem;

}
h3{
    font-size: 2rem;
}
h1,h2,h3{
    font-weight: 400;

}
h3{
    font-weight: 500;

}

/*NAvBar*/
nav {
    background: linear-gradient(90deg, #032660, #084794);  
    
  }
  
  span {
    color: white;
  }
  
  span:hover {
    color: #7a7a7a;
  }
  
  #navbar {
      border-bottom: 1px solid #7a7a7a;
  }
    
  #navbar a {
      color: white;
      
  }
    
  #navbar a:hover {
      color: #7a7a7a;
  }
    
  #navbar .active {
      border-bottom: 1px solid #050505;
  }
    
  .navbar-brand {
      display: flex;
  }
    
  .navbar-brand img {
      width: 150px;
  }
    
  .navbar-brand span {
      font-weight: 600;
      font-size: 35px;
      margin-left: 0.5em;
      margin-top: 0.5em;
  }
    
  #navbar-items .navbar-nav {
      display: flex;
      justify-content: center;
      width: 100%;
  }
    
  #navbar-items .nav-item {
      margin: 0 1em;
  }
  
  .nav-item a {
      font-size: 20px;
  }
  
  .form-check {
    margin-top: 0.7em;
  }
  
/*Bebidas*/
#bebidas{
   
    padding: 120px 10px 3rem 0;
    position: relative;
    overflow: hidden;
}



.bebidas__grog{
    margin-top: 8rem;
    display: grid;
    gap: 5rem;
    line-height: 1;
}
@media (min-width: 640px){
    .bebidas__grog{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .bebidas__grog{
        grid-template-columns: repeat(3, 1fr);
    }
}
.grog{
    max-width: 30rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem 0 rgba(191,191,191,0.5);
}

.grog__info{
    background-color: #fff;
    padding: 1rem 2rem;

}
.grog__info__titulo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.grog__info__titulo h3{
    margin-bottom: 0;
}
.grog__info p, .g span{
    color: var(--font1-color);
}
@media (min-width: 768px){
    .grop_cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

    
/*Footer*/
footer{
    
    bottom: 0px;
    width: 100%;
    background: #111;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: blue;
    top: -10px;
}
.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #1a1a1a;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background: #1a1a1a;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: blue;
}
.left .content p{
    text-align: justify;
}
.center .content .fas{
    font-size: 23px;
    background: #1a1a1a;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: blue;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #3498db;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color: #656565;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    background: blue;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover{
    background: #000;
}
.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #151515;
    text-align: center;
}
.bottom .center span{
    color: #656565;
}
.bottom .center a{
    color: blue;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    footer{
       
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}